* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito' , sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.left-content {
    width: 50%;
    padding: 0 5% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.role {
    color: #FDC435;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: #333;
    line-height: 1.2;
    margin-bottom: 25px;
}

p.description {
    color: #828282;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 400px;
}

.btn-group {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.btn-primary {
    background-color: #FDC435;
    color: #333;
    border: 2px solid #FDC435;
}

.btn-outline {
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
}

/* ฝั่งขวา */

.right-content {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.yellow-shape-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.model-image{
    z-index: 10;
    height: 85%;
    object-fit: contain;
}

/* nav */
.nav-menu {
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 10;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    margin-left: 30px;
    font-weight: 600;
}

@media (max-width: 760px) {
    .container{
        flex-direction: column;
    }
    .left-content, .right-content {
        width: 100%;
    }
    .left-content {
        margin-top: 20px;
        padding: 50px 20px;
        text-align: center;
        align-items: center;
    }

    .yellow-shape-bg {
        width: 150%;
        right: -25%;
    }
    h1 {
        font-size: 2.5rem;
    }
}